AddType application/vnd.ms-fontobject eot
AddType font/opentype otf
AddType application/x-font-ttf .ttf
AddType application/font-woff .woff
AddType application/font-woff2 .woff2
AddType text/plain .bb

Allow from All

AddDefaultCharset UTF-8
AddCharset utf-8 .html .css .js .bb

Options -Indexes

<Files "config.json">
  Deny from All
</Files>

<Files "cron.php">
  Deny from All
  Allow from 127.0.0.1
</Files>
